
obj/Debug/net9.0/refint/ContosoPizza.dll
obj/Debug/net9.0/ref/ContosoPizza.dll
obj/Debug/net9.0/ContosoPizza.sourcelink.json
obj/Debug/net9.0/ContosoPizza.pdb
obj/Debug/net9.0/ContosoPizza.dll
obj/Debug/net9.0/ContosoPizza.csproj.FileListAbsolute.txt
obj/Debug/net9.0/ContosoPizza.AssemblyInfoInputs.cache
obj/Debug/net9.0/ContosoPizza.AssemblyInfo.cs
bin/Debug/net9.0/ContosoPizza.pdb
bin/Debug/net9.0/ContosoPizza.dll
